@import "tailwindcss";

@theme {
  --color-primary: #065F46;
  --color-primary-light: #D1FAE5;
  --color-primary-dark: #022C22;
  --color-accent: #D97706;
  --color-accent-light: #FEF3C7;
  --color-background: #F7FAF8;
  --color-surface: #FFFFFF;
  --color-muted: #6B7280;
  --font-sans: var(--font-nunito);
}

body {
  background-color: var(--color-background);
  color: #1F2937;
}
